h1 {
    margin-top: 50px;
    margin-bottom: 25px;
    color: blue;
    font-size: 20px;
}

p {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

#presentacion {
    height: 400px; width: 400px;
    background-color: aqua;
    border-color: blueviolet;
    border-width: 3px;
    padding: 25px;
}

#imagen{
    height: 350px; width: 350px;
    background-color: blueviolet;
}